@model Assignment3_try2_RaminFallahi.Models.teacher
@{
    ViewBag.Title = "Show";
}
<nav>
    <a href="/Teacher/List">Back To Teachers List</a>&nbsp;
    <a href="/Teacher/Edit/@Model.teacherid">Edit</a>&nbsp;
    <a href="/Teacher/DeleteConfirm/@Model.teacherid" style="color:red;">Delete A Teacher</a>
</nav>

<h2>@Model.teacherfname @Model.teacherlname</h2>
<p>@Model.teacherid</p>
<p>@Model.employeenumber</p>
<p>@Model.salary</p>
<p>@Model.hiredate</p>


